<h1>{{ site.candidates.polak.name }}</h1>
<div class="anotation">transparentní radnice</div>
<p>
    <strong>Věk:</strong> 33<br>
    <strong>Povolání:</strong> Provozovatel sportovního a kulturního centra<br>
    <strong>Moje motto:</strong> <em>„cesta je cíl“</em><br>
</p>
<p>
    <strong>Můj názor</strong><br>
    Nikdo nemůže změnit svět, ale každý může změnit sám sebe.
</p>
<p>
    <strong>Kdo jsem</strong><br>
    Narodil jsem se před 32 lety v Letňanech, ve kterých jsem strávil přes 25 let. Absolvoval jsem  střední ekonomickou školu. Pracoval jsem v mnoha oblastech soukromého i státního sektoru. Díky dlouhodobému cestování jsem našel v Letňanech domov a začal jsem provozovat sportovní a kulturní centrum, jež je převážně zaměřeno na rozvoj dětského a mládežnického horolezeckého klubu.
</p>
<p>
    <strong>Čím se hodlám v Občanském sdružení Zdravé letňany  zabývat</strong>
    V občanském sdružení Zdravé Letňany bych se rád soustředil na organizování sportovních aktivit pro letňanské občany a jejich děti, pomáhat s problematikou sportzově kulturního vyžití, a  také budu pracovat  v založeném Informačním centru pro mládež.
</p>
