<h1>{{ site.candidates.sebkova.name }}</h1>
<div class="anotation">transparentní radnice</div>
<p>
    <strong>Věk:</strong> 53<br>
    Narozena 19.12. 1960 ve znamení Střelce – životní číslo 11
</p>
<p>Za Občanské sdružení Zdravé Letňany  budu mít na starost školství a kulturu. V oblasti školství jsem působila skoro deset let, ve výkonu státní správa a samosprávy. Své  zkušenosti chci zúročit ve prospěch občanů Letňan, a to pomocí při řešení jejich problémů v oblasti předškolního a základního vzdělávání.
</p>
<p>Ve sféře kultury se chci zaměřit na pořádání kulturně-vzdělávacích akcí pro naše spoluobčany, zaměřených na menší skupiny lidí s vyhraněnými zájmy, které místní kulturní scéna neposkytuje či jim nedává prostor.  Jsem jedním z garantů Informačního centra pro mládež, které bylo založeno pod hlavičkou občanského sdružení Zdravé Letňany.
</p>
