<h1>{{ site.candidates.deutsch.name }}</h1>
<div class="anotation">transparentní radnice</div>
<p>
    <strong>Věk:</strong> 57<br>
    <strong>Povolání:</strong> státní úředník, vedoucí Informačního centra bezpečnosti potravin<br>
    <strong>Moje motto:</strong> <em>„slušné a korektní chování“</em><br>
    <strong>Můj názor</strong><br>Domnívám se, že také do regionální politiky je potřeba vnést více slušnosti a poctivosti.<br>
</p>
<p>
    <strong>Kdo jsem</strong><br>Narodil jsem se před 57 lety v Teplicích. Absolvoval jsem  střední odborné lesnické učiliště a dále střední ekonomickou školu. Jsem 31  let ženatý, mám třináctiletého syna. Pracoval   jsem v soukromých i státních společnostech na různých administrativně hospodářských pozicích. Do městské části Praha 18 – Letňany jsem se přestěhoval v roce 2003.  Od roku 2006 až 2010 jsem byl zastupitel MČ Praha 18, Letňany, kde pracoval v několika funkcích.  Byl jsem předsedou kulturní komise, členem školské komise, a také redaktor a fotograf Letňanských listů.
</p>
<p>
    <strong>Čím se hodlám v Občanském sdružení Zdravé letňany  zabývat:</strong><br>
    V občanském sdružení Zdravé Letňany bych se rád soustředil na organizování aktivit pro letňanské občany, pomáhat občanům v problematice územních a stavebních řízení a také budu pracovat  v založeném Informačním centru pro mládež.
</p>
