<h1>{{ site.candidates.esner.name }}</h1>
<div class="anotation">transparentní radnice</div>
<p>(* 3. března 1982) je v Pirátské straně od srpna 2013. Tobias pochází z Přerova a od roku 2002 žije v Praze.
</p>
<p>Studoval Nábytkářství v Bystřici pod Hostýnem. V průběhu studia se zabýval svým největším koníčkem, pořádáním různých kulturních a společenských nejen promo akcí a sponzoringem.</p>
<p>Prošel několika firmami, soukromými i státními. Pracoval v oborech obchodu a služeb, logistiky a zdravotnictví. Během zaměstnání stále rozvíjel a prohluboval svůj koníček v organizátorství. Přednášel na rekvalifikačních kurzech a působil v oblasti podnikatelského poradenství pro začínající podnikatele. Naposledy pracoval jako TRENÉR ve společnosti Amazon.com, Inc.. V současnosti působí jako externista společnosti zabývající se kompletními službami v oblasti průzkumu trhu.</p>
<p>
U Pirátů zastává funkci Garanta programového bodu Rovnoprávnost. Současně působí jako správce Pirátského centra V Praze a Tajemníkem PKS Praha a Republikového předsednictva. V minulosti spravoval evidenci členů pod Administrativním odborem, jehož byl pověřeným vedoucím.
</p>
<p>
    V nadcházejících volbách kandiduje na druhém místě v Praze 18 a na 13. místě do zastupiteplstva Hlavního města Prahy
</p>
<p>
    Mezi jeho zájmy patří pes Denis, internet, železnice, vaření a práce s lidmi.
</p>
<p>
    <strong>Kontakt</strong><br>
    e-mail: tobias.esner@pirati.cz
</p>
